@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header{
  width: 100%;
  height: auto;
}

.navBar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  background-color: #fff;
  padding: 15px 10%;
}

.logo{
  width: 140px;
  height: auto;
  cursor: pointer;
}

.register-btn{
  background: #408b93;
  box-shadow: -4px 10px 34px, #c9bdc9;
  opacity: 0.75;
  color: #fff;
  padding: 10px 25px;
  border-radius: 20px;
  text-decoration: none;
}

.register-btn h3{
  font-size: 16px;
  font-weight: 500;
}

.register-btn:hover{
  background-color: #409b93;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 50vh;
  background-color: #408b93;
}

.container h1 {
  font-size: 3vw;
  color: #fff;
}

.container h2 {
  font-size: 1.5vw;
  color: #fff;
}

.texto{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
}

.texto h1, h2 {
  text-align: center;
}

.img-check{
  margin-top: 6%;
  width: 200px;
}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.img-animation{
  width: 85%;
  height: auto;
  align-items: center;
  margin-top: 2%;
}