@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(../../src/images/banner-03.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
}

.logo {
  width: 130px;
  cursor: pointer;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
}

.nav-links li a:hover {
  text-decoration: none;
  color: #000;
}

.register-btn {
  background: #fff;
  color: #000;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
}

.register-btn:hover{
  background: #000;
  color: #fff;
  transition: .5s;
}

.container{
  padding: 0 7%;
}

.header h1{
  font-size: 4vw;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-top: 22%;
}

.header span{
  font-weight: 600;
  color: #FFAE81;
}


.search-bar{
  background: #fff;
  width: 97%;
  margin: 30px auto;
  padding: 3px 5px 3px 15px;
  border-radius: 50px;
  
}

.search-bar form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1%;
  font-size: 1.2vw;
}

.search-bar form input{
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  width: 150px;
  background: transparent;
  font-size: .8vw;
}

.search-input input[type="date"] {
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  
}

#select{
  margin-left: 18%;
}

#classe{
  margin-left: 10%;
}

.search-bar form select{
  display: block;
  border: 0;
  outline: none;
  background: transparent;
  padding: .5%;
}

.search-bar form select option{
  width: 100%;
  font-size: 1vw;
  padding: 0 3px;
  text-align: center;
}

.search-bar form button{
  background: #ff5361;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 0;
  outline: none;
  cursor: pointer;
}

.search-bar form button:hover{
  background: #ff4250;
}

.search-bar form button img {
  width: 30px;
  margin-top: 7px;
}

.search-input{
  flex: 1.5;
}

.search-bar form label{
  font-weight: 700;
}


.sub-title{
  margin: 50px 0 20px;
  font-size: 2.2vw;
  font-weight: 600;
  color: #333;
}
.exclusives{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}

.exclusives div img{
  width: 100%;
  height: 80%;
  border-radius: 10px;
}

.exclusives div{
  position: relative;
  background-color: #fff;
  color: #000;
  :hover{
    backdrop-filter: blur(25px);
    color: #fff;
  }
  cursor: pointer;
}

.exclusives div span{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 81%;
  top: 39.9%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.trending{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  color: #000;
  :hover{
    backdrop-filter: blur(10px);
    color: #ff5361;
  }
}

.trending div img{
  width: 100%;
  height: 70%;
  border-radius: 10px;
  cursor: pointer;
}

.trending h3{
  font-weight: 600;
  margin-top: 10px;
}

.cta{
  margin: 80px 0;
  background-image: linear-gradient(to right, #3f2321, transparent), url(../../src/images/imagesBanners/banner-2.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 5%;
  color: #fff;
}

.cta-2{
  margin: 80px 0;
  background-image: linear-gradient(to right, #78866b, transparent), url(../../src/images/banner-02.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 5%;
  color: #fff;
}

.cta-3{
  margin: 80px 0;
  background-image: linear-gradient(to right, #78866b, transparent), url(../../src/images/imagesViagem/Parintins\ -\ 01.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 7.2%;
  color: #fff;
}

.cta h3{
  font-size: 4vw;
  line-height: 5.3vw;
  font-weight: 500;
}

.cta p{
  font-size: 18px;
  margin: 10px 0;
}

.cta-btn{
  background: #ff5361;
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 8px;
  margin-top: 20px;
  display: inline-block;
}

.cta-btn:hover{
  background: #ff4250;
}

.cta-2 h3{
  font-size: 4vw;
  line-height: 5.3vw;
  font-weight: 500;
}

.cta-2 p{
  font-size: 18px;
  margin: 10px 0;
}

.cta-btn-2{
  background: #ff5361;
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 8px;
  margin-top: 20px;
  display: inline-block;
}

.cta-btn-2:hover{
  background: #ff4250;
}

.cta-3 h3{
  font-size: 5vw;
  line-height: 6vw;
  font-weight: 500;
}

.cta-3 p{
  font-size: 22px;
  margin: 10px 0;
}

.cta-btn-3{
  background: #ff5361;
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 8px;
  margin-top: 20px;
  display: inline-block;
}

.cta-btn-3:hover{
  background: #ff4250;
}


swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide div {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.stories{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  margin-bottom: 30px;
}

.stories div img{
  width: 100%;
  height: 95%;
  border-radius: 10px;
}

.stories div{
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #fff;
  color: #000;
  :hover{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 94%;
    top: 48%;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    color: #fff;
  }
}

.stories p{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 26px;
  font-weight: 500;
}


.start-btn{
  text-decoration: none;
  background: #ff5361;
  color: #fff;
  width: 80%;
  max-width: 350px;
  display: block;
  text-align: center;
  margin: 60px auto;
  padding: 15px;
  border-radius: 30px;
  font-size: 20px;
}

.start-btn:hover{
  background: #ff4250;
}

.about-msg{
  text-align: center;
  margin: 80px 0;
  color: #333;
  font-size: 17px;
}

.about-msg h2{
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 500;
}


.footer{
  margin: 80px 0 10px;
  text-align: center;
}

.footer a{
  text-decoration: none;
  color: #999;
  font-size:  22px;
  margin: 0 10px;
}

.footer hr{
  background: #999;
  height: 1px;
  width: 100%;
  border: 0;
  margin: 20px 0;
}

.footer p{
  padding-bottom: 15px;
}

.footer img{
  width: 25px;
}

.active{
  position: relative;
}

.active::after{
  content: '';
  background: #fff;
  width: 25px;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  border-radius: 2px;
}

nav .bars-menu{
  display: none;
}

.name-yara{
  font-weight: bold;
  color: #abdbe3;
}

.name-region{
  font-weight: bold;
  color: #003566;
}

.hidemenu {
  max-height: 0;
  overflow: hidden;
}

#listarDestinos{
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#listarDestinos li {
  display: block;
  cursor: pointer;
  text-decoration: none;
}

#listarDestinos li a {
  text-decoration: none;
}


#listarDestinos li.hidden {
  display: none;
}

#listarDestinos li a span{
  color: #003566;
}

#listarDestinosVolta{
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#listarDestinosVolta li a{
  text-decoration: none;
}

#listarDestinosVolta li a span{
  color: #003566;
}

.destino-name{
  margin: 0;
}

@media only screen and (max-width: 320px){ /*IPHONE SE 2016*/
  .logo{
    position: fixed;
    top: 1.5%;
    left: 3%;
    width:6.5rem;
  }

  nav{
    position: fixed;
    top: 0;
    z-index: 100;
    display: inline-block;
    width: 100%;
    padding: 70px 7% 0;
    background: #000;
    text-align: right;
    max-height: 10px;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav .nav-links li{
    margin: 10px 0;
    display: block;
  }

  .register-btn{
    margin: 15px 0 30px;
    display: inline-block;
  }

  nav .bars-menu{
    display: block;
    position: fixed;
    top: 5.5%;
    right: 7%;
    color: #fff;
    font-size: 28px;
    width: 30px;
  }

  .active::after{
    left: -40px;
    transform: translate(0, 50%);
    bottom: 50%;
  }

  .header h1{
    padding-top: 120px;
    font-size: 5vw;
  }

  .search-bar{
    width: 90%;
    height: 80%;
    margin: 15px auto;
    padding: 15px 15px 15px;
    border-radius: 5px;
    position: relative;
    border-bottom: 1px solid ;
  }

  .search-bar form{
    display: block;
  }

  .search-bar form label{
    font-size: 12px;
  }

  .search-bar form input{
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 4px;
    padding-bottom: 10px;
    font-size: 10px;
  }

  .search-bar form button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 44px;
    height: 44px;
    border: 1px solid #ff5361;
  }

  .search-bar form select {
    border-bottom: 1px solid #ddd;
    width: 90%;
    margin-bottom: 10px;
    padding-bottom: 8px;
    font-size: 10px;
  }

  .search-bar form select option{
    font-size: 2em;
  }

  .sub-title{
    font-size: 6vw;
  }


  .exclusives {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  .exclusives div .img-exclusives{
    width: 100%;
    max-height: 18em;
  }

  .trending {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  .trending div img{
    max-width: 100%;
    max-height: 18rem;
  }

  .cta, .cta-2, .cta-3{
    padding: 15% 5%;
  }
  
  .cta h3, .cta-2 h3, .cta-3 h3{
    font-size: 7vw;
    line-height: 8vw;
  }

  .cta p, .cta-2 p, .cta-3 p{
    font-size: 14px;
  }

  .cta-btn, .cta-btn-2, .cta-btn-3{
    padding: 6px 15px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 14px;
  }

  .stories div img{
    max-width: 100%;
    max-height: 30rem;
  }

  .stories div p{
    font-size: 12px;
  }

  .about-msg{
    font-size: 15px;
  }

  .destino-name{
    font-size: 12px;
  }
}

@media only screen and (max-width: 428px){ /*IPHONE 11, 13 PRO MAX*/
  .logo{
    position: fixed;
    top: 1.5%;
    left: 3%;
    width:6.5rem;
  }

  nav{
    position: fixed;
    top: 0;
    z-index: 100;
    display: inline-block;
    width: 100%;
    padding: 85px 7% 0;
    background: #000;
    text-align: right;
    max-height: 10px;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav .nav-links li{
    margin: 10px 0;
    display: block;
  }

  .register-btn{
    margin: 15px 0 30px;
    display: inline-block;
  }

  nav .bars-menu{
    display: block;
    position: fixed;
    top: 4%;
    right: 7%;
    color: #fff;
    font-size: 20px;
    width: 35px;
  }

  .active::after{
    left: -40px;
    transform: translate(0, 50%);
    bottom: 50%;
  }

  .header h1{
    padding-top: 120px;
    font-size: 7vw;
  }

  .search-bar{
    width: 98%;
    height: 88%;
    margin: 15px auto;
    padding: 15px 15px 15px;
    border-radius: 5px;
    position: relative;
    border-bottom: 1px solid ;
  }

  .search-bar form{
    display: block;
  }

  .search-bar form label{
    font-size: 14px;
  }

  .search-bar form input{
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 4px;
    padding-bottom: 10px;
    font-size: 14px;
  }

  .search-bar form button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 30px;
    height: 30px;
    border: 1px solid #ff5361;
  }

  .search-bar form select {
    border-bottom: 1px solid #ddd;
    width: 90%;
    margin-bottom: 10px;
    padding-bottom: 8px;
    font-size: 14px;
  }

  .search-bar form select option{
    font-size: 2em;
  }

  .sub-title{
    font-size: 7vw;
  }


  .exclusives {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  .exclusives div .img-exclusives{
    width: 100%;
    max-height: 18em;
  }

  .exclusives div span h3 {
    font-size: 8vw;
  }

  .trending {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  .trending div img{
    max-width: 100%;
    max-height: 19rem;
  }

  .trending div h3{
    font-size: 6vw;
  }

  .cta, .cta-2, .cta-3{
    padding: 15% 5%;
  }
  
  .cta h3, .cta-2 h3, .cta-3 h3{
    font-size: 7.5vw;
    line-height: 8vw;
  }

  .cta p, .cta-2 p, .cta-3 p{
    font-size: 8px;
  }

  .cta-btn, .cta-btn-2, .cta-btn-3{
    padding: 6px 15px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 12px;
  }

  .stories div img{
    max-width: 100%;
    max-height: 30rem;
  }

  .stories p{
    font-size: 6px;
  }

  .about-msg{
    font-size: 15px;
  }

  .destino-name{
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) { /*IPAD MINI*/
  .logo{
    position: fixed;
    top: 1.5%;
    left: 3%;
    width:8rem;
  }

  nav{
    position: fixed;
    top: 0;
    z-index: 100;
    display: inline-block;
    width: 100%;
    padding: 90px 8% 0;
    background: #000;
    text-align: right;
    max-height: 10px;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav .nav-links li{
    margin: 10px 0;
    display: block;
  }

  .register-btn{
    margin: 15px 0 30px;
    display: inline-block;
  }

  nav .bars-menu{
    display: flex;
    position: fixed;
    top: 3.7%;
    right: 7%;
    color: #fff;
    font-size: 20px;
    width: 35px;
  }

  .active::after{
    left: -40px;
    transform: translate(0, 50%);
    bottom: 50%;
  }

  .header h1{
    padding-top: 120px;
    font-size: 5.45vw;
  }

  .search-bar{
    width: 100%;
    height: 95%;
    margin: 15px auto;
    padding: 20px 20px 20px;
    border-radius: 5px;
    position: relative;
    border-bottom: 1px solid ;
  }

  .search-bar form{
    display: block;
  }

  .search-bar form label{
    font-size: 18px;
  }

  .search-bar form input{
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 4px;
    padding-bottom: 8px;
    font-size: 18px;
  }

  .search-bar form button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 65px;
    height: 65px;
    border: 1px solid #ff5361;
  }

  .search-bar form select {
    border-bottom: 1px solid #ddd;
    width: 90%;
    margin-bottom: 10px;
    padding-bottom: 8px;
    font-size: 18px;
  }

  .search-bar form select option{
    font-size: .6em;
  }

  .sub-title{
    font-size: 6.5vw;
  }

  .exclusives {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colunas */
    grid-template-rows: repeat(5, 1fr); /* 5 linhas */
    grid-gap: 20px;
  }

  .exclusives div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .exclusives div .img-exclusives {
    width: 100%;
    max-height: 18em;
  }

  .exclusives div span h3 {
    font-size: 5vw;
  }

  .exclusives div span p {
  font-size: 3vw;
  }

  .trending {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas */
    grid-template-rows: 1fr 1fr; /* Duas linhas */
    grid-gap: 20px;
  }

  .trending div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .trending div img {
    max-width: 100%;
    max-height: 19rem;
  }

  .trending div h3 {
    font-size: 4vw;
  }


  .cta, .cta-2, .cta-3{
    padding: 15% 5%;
  }
  
  .cta h3, .cta-2 h3, .cta-3 h3{
    font-size: 7vw;
    line-height: 8vw;
  }

  .cta p, .cta-2 p, .cta-3 p{
    font-size: 18px;
  }

  .cta-btn, .cta-btn-2, .cta-btn-3{
    padding: 6px 15px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 18px;
  }

  .stories {
    display: grid;
    grid-template-columns: 1fr; /* Uma coluna */
    grid-auto-rows: auto; /* Altura automática para as linhas */
    grid-gap: 20px; /* Espaçamento entre as linhas */
  }

  .stories div img {
    max-width: 80%;
    max-height: 25rem;
  }

  .stories p {
    font-size: 28px;
  }



  .about-msg{
    font-size: 22px;
  }

  .hidemenu {
    max-height: 0;
    overflow: hidden;
  }
}

