@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #408b93;
}

.header{
  width: 100%;
  height: auto;
}

.navBar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  background-color: #fff;
  padding: 15px 10%;
  margin-bottom: 15%;
}

.logo{
  width: 140px;
  height: auto;
  cursor: pointer;
}


h2{
  color: #fff;
  margin-bottom: 3%;
}

span.carregando {
  width: 60px;
  height: 60px;
  background-color: #fff;
  display: block;
  background-color: transparent;
  border: 5px solid #fff;
  border-top: 12px solid transparent;
  border-radius: 50%;

  animation: loading .6s linear infinite;
}

@keyframes loading{
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}