@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header{
  width: 100%;
  height: auto;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
}
  
.logo{
  width: 140px;
  height: auto;
  cursor: pointer;
}
  
/*Botão login*/
.register-btn{
  background: #408b93;
  box-shadow: -4px 10px 34px, #c9bdc9;
  opacity: 0.75;
  color: #fff;
  padding: 10px 25px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
}

.register-btn:hover{
  background-color: #409b93;
}

.container{
  width: 100%;
  height: 65vh;
  background-color: #408b93;
}

.title{
  margin-left: 13vw;
  padding-top: 5vh;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}

.passagem-form{
  align-items: center;
  width: 100%;
  height: 57vh;
}

.passagem-card{
  display: flex;
  width: 1500px;
  height: 200px;
  background-color: #fff;
  border-radius: 25px;
  padding: 5px;
  margin-left: 10px;
  margin-top: 100px;
}

.top-item{
  display: flex;
  flex-direction: column;
  width: 6%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-left: 2%;
}

.top-code{
  margin-right: 22px;
  font-size: 16px;
  font-weight: 500;
  color: #d90429;
}

.code-text{
  font-size: 25px;
  font-weight: 600;
  color: #003566;
}


.info-viagem{
  display: flex;
  width: 25%;
  margin-left: 6%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.top-text{
  font-size: 16px;
  font-weight: 500;
  color: #d90429;
}

.subTop-text{
  font-size: 2.5vw;
  font-weight: 600;
  color: #003566;
}

.info-IO{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-left: 6.5%;
}

.info-text{
  font-size: 18px;
  font-weight: 500;
  color: #d90429;
}

.dateTime-text{
  font-size: 22px;
  font-weight: 600;
  color: #003566;
}

.info-important{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-left: 6%;
}

.info-passenger{
  font-weight: 500;
  font-size: 18px;
  color: #d90429;
}

.passenger-text{
  font-weight: 600;
  font-size: 20px;
  color: #003566;
}

.top-classe{
  font-weight: 500;
  font-size: 18px;
  color: #d90429;
}

.classe-text{
  font-weight: 600;
  font-size: 20px;
  color: #003566;
}
.QRcode{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 9%;
}

.img-passagem{
  width: 150px;
}
.img-boat{
  width: 60px;
  margin-top: 22px;
}
.img-QRcode{
  width: 150px;
  border: 1px solid black;
}


.footer{
  margin: 30px 0 10px;
  text-align: center;
}

.footer a{
  text-decoration: none;
  color: #999;
  font-size:  22px;
  margin: 0 10px;
}

.footer hr{
  background: #999;
  height: 1px;
  width: 100%;
  border: 0;
  margin: 20px 0;
}

.footer p{
  padding-bottom: 15px;
}

.footer img{
  width: 25px;
}