@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header{
  width: 100%;
  height: auto;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
}

.logo{
  width: 140px;
  height: auto;
  cursor: pointer;
}

/*Botão login*/
.register-btn{
  background: #408b93;
  box-shadow: -4px 10px 34px, #c9bdc9;
  opacity: 0.75;
  color: #fff;
  padding: 10px 25px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
}

.register-btn:hover{
  background-color: #409b93;
}

#container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #408b93;
}

.credit-card-form{
  width: 50%;
  height: 100%;
  margin-top: 2.5vh;
}

.form-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 580px;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 25px;
  margin-top: 40px;
  margin-bottom: 20px;
}

label{
  font-weight: 600;
  font-size: 18px;
}

input[type="text"],
select{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #d3d3d3;
}

select{
  padding: 10px;
}

.payment-options{
  grid-column: 1 / span 3;
  margin: 15px 0;
}

.payment-options label {
  font-weight: normal;
  margin-right: 20px;
}

input[type="radio"] {
  margin-right: 10px; 
}

.btn-form{
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  background-color: #408b93;
  color: #fff;
  font-size: 16px;
}

.side-bar-info{
  width: 50%;
  height: 100%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

#sideBar{
  width: 500px;
  height: 100%;
  padding: 15px;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 730px;
  margin-top: 5vh;
  
}

.sidebtn-form{
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  background-color: #408b93;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 11vw;
  margin-bottom: 15px;
}

div > h2{
  font-weight: 500;
  color: #408b93;
}

div > h3{
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

input[type="date"] {
  width: 100%;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.title-resume{
  font-size: 16px;
  color: #000;
}

#pixForm{
  display: hidden;
  width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#pix-card-container{
  width: 74%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.qrCode-img{
  width: 300px;
  margin-top: 30px;
  border: 5px solid black;
}

#keyCode{
  margin-top: 15px;
  padding: 15px;
  width: 65%;
  margin-bottom: 10px;
  text-align: center;
}

#copyBtn{
  padding: 10px;
  width: 25%;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #408b93;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

div > h4 {
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
}

div > span{
  margin-top: 10px;
  margin-bottom: 15px;
}

div > p {
  text-align: center;
}

.footer{
  margin: 30px 0 10px;
  text-align: center;
}

.footer a{
  text-decoration: none;
  color: #999;
  font-size:  22px;
  margin: 0 10px;
}

.footer hr{
  background: #999;
  height: 1px;
  width: 100%;
  border: 0;
  margin: 20px 0;
}

.footer p{
  padding-bottom: 15px;
}

.footer img{
  width: 25px;
}